.carousel-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      border-radius: 15px;
    }
  }
  
  .hero-paragraph h2 {
    color: #ff4500; /* Adjust to your brand color for company name */
    font-family: 'Playfair Display', serif; /* Elegant font for headings */
  }
  
  
  .hero-paragraph p {
    color: #333;
    line-height: 1.6;
    font-size: 18px;
  }
  
  footer.bg-whitesmoke {
    background-color: whitesmoke;
  }
  
  @keyframes glitter {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.pyra-prospect {
    font-weight: bold; /* Enhances the visibility of the glitter effect */
    background: linear-gradient(90deg, #ff4500, #ffa500, #ff4500, #ffa500);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: glitter 3s linear infinite;
}

p , li{
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    
}
.accordion-item {
    font-family: "Tenor Sans", sans-serif;
}

.my-heading {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: x-large;
}
.my-heading-two {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    /* font-size: x-large; */
    color: #ff4500; 
}

.product-img {
     height: 600px; /* Fixed height */
    /*object-fit: cover; /* Ensures the image covers the area nicely */
    /*width: 100%; /* Takes the full width of the column */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.product-description {
    /* padding: 20px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    
}

.about-section { padding: 20px; background: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
.p-price {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: xx-large;
}


/* categrory */

.category-box {
    padding: 4px;
    background-color: #f8f8f8; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Rounded corners for aesthetics */
    margin-top: 10px; /* Space between rows */
    /* height: 150px; Fixed height for each box */
    /* display: flex; */
    /* align-items: center; Vertically center the content */
    /* justify-content: center; Horizontally center the content */
    text-align: center;
}

/* footer */

.footer {
    background-color: #f8f8f8; /* Light grey background for footer */
    /* padding: 20px 0; Padding above and below the footer content */
}
.footer h6 {
    margin: 0; /* Removes default margin from h6 to keep footer compact */
    padding: 5px 10px; /* Small padding around the text for better spacing */
    font-size: 12px; /* Smaller font size for footer text */
}
@media (max-width: 768px) {
    .text-md-right {
        text-align: left; /* Aligns text to left on small screens */
    }
}

/* product animation */

.layer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
.active {
    opacity: 1;
}
.layer img {
    max-width: 50%;
    height: auto;
}
.layer-content {
    max-width: 50%;
    padding: 20px;
}

.btn-style {
    background-color: #ff4500;
    border: 0px;
}